* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: space-around;
}

div {
    width: 30%;
}

h2 {
    margin: 15px 0;
}

.register > h2 {
    color: gold;
}

.login > h2 {
    color: orange;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    width: 50%;
}

form > * {
    box-sizing: border-box;
    margin-bottom: 15px;
}